!!!
%html
%head
  %title Tumoni2
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

%body

  .container
    .row
      .col-xs-12
        %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
          .container
            .navbar-header
              %a.navbar-brand(href="/") Plotsy

            %ul.nav.navbar-nav
              %li= link_to "Movimientos", movements_path
              %li= link_to "Bolsillos", pockets_path


  = yield
